[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
	allowedSignersFile = /home/wes/.config/git/allowed_signers_file
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO9jvo+/kJhEs/bg+PM7o457ps6RExNnhviZJhG04/jF
	email = wes@hargrove.me
	name = Wes Hargrove
[core]
	excludesFile = /home/wes/.gitignore
	pager = delta
	editor = mg
[merge]
	conflictStyle = zdiff3
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[log]
	date = iso
[branch]
	sort = -committerdate
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[fetch]
	prune = true
[includeIf "gitdir:~/workspace/vire/"]
  path = ~/.gitconfig-work
[github]
	user = whargrove
